<table>
  <thead>
  <tr>
    {{#each users.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
  </thead>
  <tbody>
  {{#each users}}
    <tr>
      {{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>
